<html lang='pt-BR'>
	<head>
		{{#if gtmId}}
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				const f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', '{{gtmId}}');
		</script>
		<!-- End Google Tag Manager -->
		{{/if}}
		<title>Konecty</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta http-equiv='Cache-Control' content='public' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='application-name' content='Konecty' />
		<meta name='description' content='Konecty' />
		<meta name='application-url' content='https://{{env}}{{host}}/' />
		<meta name='google' content='notranslate' />
		<meta name='apple-mobile-web-app-capable' content='yes' />
		<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
		<link rel='canonical' href='https://{{env}}{{host}}/' />
		<link rel='stylesheet' type='text/css' href='//{{uiServer}}/resources/login/loading.css' />
		<link rel='shortcut icon' href='//{{uiServer}}/favicon.ico' sizes='16x16' type='image/x-icon' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/16x16.png' sizes='16x16' type='image/png' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/57x57.png' sizes='57x57' type='image/png' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/75x75.png' sizes='75x75' type='image/png' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/128x128.png' sizes='128x128' type='image/png' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/icon.ico' sizes='32x32 48x48' type='image/vnd.microsoft.icon' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/icon.icns' sizes='128x128 512x512 8192x8192 32768x32768' />
		<link rel='icon' href='//{{uiServer}}/resources/images/logo/icon.svg' sizes='any' type='image/svg+xml' />
		<link rel='apple-touch-icon' href='//{{uiServer}}/resources/images/logo/57x57.png' sizes='57x57' />
		<link rel='apple-touch-icon' href='//{{uiServer}}/resources/images/logo/72x72.png' sizes='72x72' />
		<link rel='apple-touch-icon' href='//{{uiServer}}/resources/images/logo/114x114.png' sizes='114x114' />
		<link rel='apple-touch-icon' href='//{{uiServer}}/resources/images/logo/144x144.png' sizes='144x144' />
		<link rel='apple-touch-startup-image' href='//{{uiServer}}/resources/images/logo/apple-touch-startup-image-320x460.png' media='(device-width: 320px)' />
		<!-- iPhone SPLASHSCREEN-->
		<link
			rel='apple-touch-startup-image'
			href='//{{uiServer}}/resources/images/logo/apple-touch-startup-image-640x920.png'
			media='(device-width: 320px) and (-webkit-device-pixel-ratio: 2)'
		/>
		<!-- iPhone (Retina) SPLASHSCREEN-->
		<link
			rel='apple-touch-startup-image'
			href='//{{uiServer}}/resources/images/logo/apple-touch-startup-image-768x1004.png'
			media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)'
		/>
		<!-- iPad (non-Retina) (Portrait) -->
		<link
			rel='apple-touch-startup-image'
			href='//{{uiServer}}/resources/images/logo/apple-touch-startup-image-1024x748.png'
			media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)'
		/>
		<!-- iPad (non-Retina) (Landscape) -->
		<link
			rel='apple-touch-startup-image'
			href='//{{uiServer}}/resources/images/logo/apple-touch-startup-image-1536x2008.png'
			media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)'
		/>
		<!-- iPad (Retina) (Portrait) -->
		<link
			rel='apple-touch-startup-image'
			href='//{{uiServer}}/resources/images/logo/apple-touch-startup-image-2048x1496.png'
			media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)'
		/>
		<!-- iPad (Retina) (Landscape) -->
		<link rel='stylesheet' href='//{{uiServer}}/resources/magnific-popup.css' />
		<meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/loading-attribute-polyfill/1.5.4/loading-attribute-polyfill.min.js'
			integrity='sha512-Kq3/MTxphzXJIRDWtrpLhhNnLDPiBXPMKkx/KogMYZO92Geor9j8sJguZ1OozBS+YVmVKo2HEx2gZfGOQBFM8A=='
			crossorigin='anonymous'
		></script>
		{{#if collectFingerprint}}
			<script src='https://openfpcdn.io/fingerprintjs/v4/iife.min.js'></script>
			<script src='/fp.js'></script>
		{{/if}}
		<script type='text/javascript'>
			window.BLOB_URL = '{{blobUrl}}';
			window.PREVIEW_URL = '{{previewUrl}}';
			window.LOCALE = '{{locale}}';
			window.ENV = '';
			window.HOST = '{{host}}';
			window.UI_URL = '{{uiServer}}';
			window.KONECTY_NEW_UI_ABSOLUTE = '{{newUiAbsoluteBase}}';
			window.KONECTY_NEW_UI_PATH = '{{newUiBrowserPath}}';
			window.konectyOpenNewUiShell = function (useReplace) {
				try {
					localStorage.setItem('konecty-ui-version', 'new');
				} catch (e) {}
				var abs = (window.KONECTY_NEW_UI_ABSOLUTE || '').trim();
				var rel = typeof window.KONECTY_NEW_UI_PATH === 'string' ? window.KONECTY_NEW_UI_PATH : '/ui/';
				var url;
				if (abs) {
					url = new URL(abs);
				} else {
					url = new URL(rel, window.location.origin);
				}
				url.search = window.location.search;
				url.hash = window.location.hash;
				if (abs) {
					url.searchParams.set('konectyUiShell', 'new');
				}
				if (useReplace) {
					window.location.replace(url.href);
				} else {
					window.location.href = url.href;
				}
			};
		</script>
		<script>
			(function () {
				try {
					var params = new URLSearchParams(window.location.search);
					var shellPref = params.get('konectyUiShell');
					if (shellPref === 'new') {
						localStorage.setItem('konecty-ui-version', 'new');
					} else if (shellPref === 'legacy') {
						localStorage.setItem('konecty-ui-version', 'legacy');
					} else {
						return;
					}
					params.delete('konectyUiShell');
					var qs = params.toString();
					history.replaceState(null, '', window.location.pathname + (qs ? '?' + qs : '') + window.location.hash);
				} catch (err) {}
			})();
		</script>
		<script>
			(function () {
				try {
					if (localStorage.getItem('konecty-ui-version') !== 'new') return;
					var path = window.location.pathname || '';
					if (path !== '/' && path !== '') return;
					if (typeof window.konectyOpenNewUiShell !== 'function') return;
					window.konectyOpenNewUiShell(true);
				} catch (e) {}
			})();
		</script>
	</head>
	<body>
		{{#if gtmId}}
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src='https://www.googletagmanager.com/ns.html?id={{gtmId}}'
				height='0'
				width='0'
				style='display:none;visibility:hidden'
			></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		{{/if}}
		<script>
			(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; (i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments); }), (i[r].l = 1 * new Date());
			(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]); a.async = 1; a.src = g; m.parentNode.insertBefore(a, m); })(window, document, 'script',
			'//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-47455751-1', 'konecty.com'); ga('send', 'pageview');
		</script>
		<div id='loading_modal'></div>
		<div id='loading' class='basic_top_box'>
			<span id='loading_text'>
				<br />
				{{lbl_loading}}
				<br />
				<br />
				<br />
			</span>
			<div id='bottom_bar'>
				<div id='bottom_bar_loading'></div>
				<button id='splash_close'>{{btn_close}}</button>
			</div>
		</div>
		<script>
			document.getElementById('loading').style.top = '0px';
		</script>
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js'
			integrity='sha512-J9QfbPuFlqGD2CYVCa6zn8/7PEgZnGpM5qtFOBZgwujjDnG5w5Fjx46YzqvIh/ORstcj7luStvvIHkisQi5SKw=='
			crossorigin='anonymous'
		></script>
		<script src='//{{uiServer}}/resources/jquery.magnific-popup.js'></script>
		<script type='text/javascript' src='//{{uiServer}}/startup.js?_dc={{timeInMilis}}'></script>
		<script>
			(function () {
				var mounted = false;
				var observer = null;

				function disconnectObserver() {
					if (observer) {
						observer.disconnect();
						observer = null;
					}
				}

				function ensureStyle() {
					if (document.getElementById('konecty-new-ui-shell-style')) return;
					var style = document.createElement('style');
					style.id = 'konecty-new-ui-shell-style';
					style.textContent =
						'.k-new-ui-shell-cta{margin-right:8px!important;border-radius:999px!important;border:1px solid #b7d4f6!important;background:#f4f9ff!important;box-shadow:none!important;}' +
						'.k-new-ui-shell-cta .x-btn-inner{padding:0 9px!important;}' +
						'.k-ui-shell-cta-content{display:inline-flex;align-items:center;height:22px;font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;}' +
						'.k-ui-shell-cta-label{font-size:11px;font-weight:600;color:#1f5f9f;white-space:nowrap;}';
					document.head.appendChild(style);
				}

				function getCtaText() {
					return '<span class="k-ui-shell-cta-content"><span class="k-ui-shell-cta-label">Experimente a nova interface</span></span>';
				}

				function openNewUi() {
					var abs = (window.KONECTY_NEW_UI_ABSOLUTE || '').trim();
					var rel = typeof window.KONECTY_NEW_UI_PATH === 'string' ? window.KONECTY_NEW_UI_PATH : '/ui/';
					var previewHref = abs ? abs : new URL(rel, window.location.origin).href;
					if (typeof window.konectyOpenNewUiShell === 'function') {
						window.konectyOpenNewUiShell(false);
					} else {
						window.location.href = previewHref;
					}
				}

				function buildButtonConfig() {
					return {
						xtype: 'button',
						scale: 'small',
						ui: 'header',
						itemId: 'btnNewUiShell',
						cls: 'k-new-ui-shell-cta',
						text: getCtaText(),
						tooltip: 'Abrir a nova interface do gestor',
						handler: openNewUi,
					};
				}

				function tryMountInHeader() {
					if (mounted) {
						return true;
					}
					if (!window.Ext || !Ext.ComponentQuery) {
						return false;
					}
					try {
						var users = Ext.ComponentQuery.query('viewportheader #btnUser');
						if (!users.length) {
							return false;
						}
						var userBtn = users[0];
						var header = userBtn.up && userBtn.up('viewportheader');
						if (!header || !header.items) {
							return false;
						}
						var userIndex = header.items.indexOf(userBtn);
						if (userIndex < 0) {
							return false;
						}
						ensureStyle();
						var existing = Ext.ComponentQuery.query('viewportheader #btnNewUiShell')[0];
						if (existing) {
							existing.addCls && existing.addCls('k-new-ui-shell-cta');
							existing.setText && existing.setText(getCtaText());
							existing.setTooltip && existing.setTooltip('Abrir a nova interface do gestor');
							if (existing.ownerCt === header) {
								var existingIndex = header.items.indexOf(existing);
								if (existingIndex !== userIndex - 1) {
									header.remove(existing, false);
									header.insert(existingIndex < userIndex ? userIndex - 1 : userIndex, existing);
								}
							}
							header.doLayout && header.doLayout();
							mounted = true;
							disconnectObserver();
							return true;
						}
						header.insert(userIndex, buildButtonConfig());
						header.doLayout && header.doLayout();
						mounted = true;
						disconnectObserver();
						return true;
					} catch (err) {
						return false;
					}
				}

				function scheduleTick() {
					if (tryMountInHeader()) {
						return;
					}
					requestAnimationFrame(tryMountInHeader);
				}

				scheduleTick();
				try {
					observer = new MutationObserver(scheduleTick);
					observer.observe(document.documentElement, { childList: true, subtree: true });
				} catch (e) {}
			})();
		</script>
	</body>
</html>