<div style='text-align: center'>
	Olá
	{{data.name}}, sua senha foi redefinida. Agora você deve usar o login
	<strong>{{data.username}}</strong>
	e a senha abaixo.<br /><br />
	<div style='margin: 20px'>
		<span style='background-color: #eee; border-radius: 10px; padding: 10px 20px; font-size: 24px; font-weight: bold'> {{data.password}} </span>
	</div>
	<br /><br />
	Para acessar o Konecty clique no seguinte
	<a href='{{data.url}}' target='_blank'>link</a>
	ou copie no seu navegador:
	{{data.url}}
</div>